@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.buttonPlayer {
    align-items: center;
    margin-top: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;

}