<header>
  <nav ngClass="navBar">
    <img src="../assets/barvar.PNG" alt="" />
    <p>ACTUALIDAD</p>
    <p>TIENDA</p>
    <p>CLUB</p>
    <p>SOCIOS</p>
    <img src="../assets/lup.PNG" alt="" />
  </nav>
</header>
<div class="navTransicion">
  <p>Jugadores</p>
  <p>Palmarés</p>
  <p>Estadio</p>
  <p>Calendario</p>
</div>
<body ngClass="body">
  <app-player-list></app-player-list>
</body>
<footer>
  <div ngClass="footBar">
    <p>© Copyright FC Barcelona</p>
    <img src="../assets/rrss.PNG" alt="" />
  </div>
</footer>
