@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* { margin:0; padding:0;}

.body {
    background: linear-gradient( #622E60, #343A76);
}

.navBar {
    background-color:#E5BB45;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.navBar img {
    height: 60px;
}

.navTransicion {
    background-color:#181733;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
}

.navTransicion p {
    margin: 10px;
}

.navBar img {
    height: 70px;
}

.footBar{
    background-color:#E5BB45;
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

.footBar p {
    justify-content: space-around;
    text-align: left;
}

.footBar img {
    width: 200px;
}
